{% extends 'base.html' %}
{% load custom_tags %}


{% block content %}

    <table class="table table-dark table-striped text-center">

        <tr>
            {% for field in fields %}
                <th class="h3">{{ field.verbose_name }}</th>
            {% endfor %}
        </tr>

        {% for item in model_data %}
            <tr>
                {% for field in fields %}
                    <td>{{ item|get_attr:field.name }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>


{% include 'home_app/includes/add_form.html' %}


{% endblock %}
