{% extends 'home_app/base.html' %}
{% load custom_tags %}


{% block content %}

    <h1>{{ model_title }}</h1>

    <table class="table table-dark table-striped">
        <tr>
            {% for field in fields %}
                <th>{{ field.verbose_name }}</th>
            {% endfor %}
        </tr>

        {% for item in model_data %}
            <tr>
                {% for field in fields %}
                    <td>{{ item|get_attr:field.name }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
